@font-face {
  font-family: 'Architects Daughter';
  font-weight: 400;
  font-style: normal;

  src: local('Architects Daughter Regular'), local('ArchitectsDaughter-Regular'), url('./../font/Architects.woff2') format('woff2');
  unicode-range: U+0000-00FF,
  U+0131,
  U+0152-0153,
  U+02BB-02BC,
  U+02C6,
  U+02DA,
  U+02DC,
  U+2000-206F,
  U+2074,
  U+20AC,
  U+2122,
  U+2191,
  U+2193,
  U+2212,
  U+2215,
  U+FEFF,
  U+FFFD;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #666;
  background: #fafafa url('../images/body-bg.jpg') 0 0 repeat;
}
header {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: solid 1px #275da1;
  background: #2e7bcf url('../images/header-bg.jpg') 0 0 repeat-x;
}
.inner {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  h1 {
    font-size: 72px;
    font-weight: normal;
    line-height: 1;
    width: 540px;
    margin-top: 0;
    margin-bottom: 0.2em;
    letter-spacing: -1px;
    color: #fff;
  }
  h2 {
    font-size: 26px;
    font-weight: normal;
    line-height: 1.3;
    width: 540px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0;
    color: #9ddcff;
  }
}
.right {
  width: 134px;
  height: 58px;
  padding-top: 22px;
  padding-left: 68px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 23px;
  line-height: 1.2;
  color: #fff;
  background: transparent url('../images/github-button.png') 0 0 no-repeat;
}
